
h1 {
  margin-top: 0;
}

h1,
h2 {
  color: #0576A1;
}

a {
  text-decoration: none;
  color: #0074D9;
}

a:hover {
  color: #42A1F5;
}

#dropDiv {
  width: 40%;
  border: 2px solid #3340cc;
  margin: 20px 30% 0;
  padding: 20px 10px;
  text-align: center;
  color: #CCCCCC;
}

#dropDiv.over {
  border-color: #DE7E7E;
  color: #DE7E7E;
  background-color: #FFEDED;
}


#console {
  border: 1px solid #EBEBEB;
  background-color: #F9F9F9;
  color: #333333;
  padding: 10px;
}
